Package: cli-installer-mx
Version: 5.0+5mx21
Architecture: all
Maintainer: dolphinoracle <dolphinoracle@gmail.com>
Installed-Size: 319
Depends: bash, rsync, partition-info
Replaces: cli-installer-antix, cli-installer-base-antix, cli-installer-core-antix, cli-installer-full-antix
Section: system
Priority: optional
Homepage: https://gitlab.com/antiX-Linux/cli-installer-antix
Description: Script to install mx to hard drive via cli.
