Source: cli-installer-antix
Section: system
Priority: optional
Maintainer: dolphinoracle <dolphinoracle@gmail.com>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.5.1
Homepage: https://github.com/MX-Linux/cli-installer-mx

Package: cli-installer-antix
Priortity: optional
Architecture: all 
Depends: cli-installer-mx
Description: transitional package for cli-installer-mx


